{% extends "object.twig" %}
 {% block objectContent %}
<div style="border:1 px solid black"><strong>
    История встречи основателя психоанализа Зигмунда Фрейда и автора цикла повестей «Хроники Нарнии» Клайва Стейплза Льюиса.
    Сюжет разворачивается на одном из последних сеансов ученого.
    Действие постоянно вырывается за пределы кабинета, переплетая в себе прошлое и настоящее, и унося зрителя в мир фантазий.
</strong>
</div>
 {% endblock %}